
<!--===============================================================================================-->
<script src="../../../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/vendor/bootstrap/js/popper.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
<script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../../assets/js/main.js"></script>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>

          <div class="wrap-input100 form-group">
            <label class="text-center " for="email">Email</label>
            <br>
            <input type="text" id="email" class="form-control input100" formControlName="email">
          </div>

          <div class="wrap-input100 form-group">
            <label class="text-center" for="pass">Password</label>
            <br>
            <input type="password" id="pass" class="form-control input100" formControlName="pass">
          </div>

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn" [disabled]="loginForm.invalid">
            Login
          </button>
        </div>

      </form>

      <div class="login100-more" style="background-image: url('assets/images/scooter-electrique-brumaire.jpeg');">
      </div>

    </div>
  </div>
</div>

